/* Add this to your existing style.css file */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.bg-image {
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.logo {
    max-width: 300px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px; /* Add some padding around the logo */
    border-radius: 10px; /* Optional: rounds the corners */
}

h1, p {
    color: #EFEFEF; /* Lighter text color for better contrast against a dark background */
}

/* Ensures text is legible against the background */
.text-side, .image-side {
    background-color: rgba(0, 0, 0, 0.5); /* Adds semi-transparent background */
    padding: 20px;
    border-radius: 5px;
}