body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container {
    width: 50vw; /* Adjust this value to control the SVG size */
    max-width: 200px; /* Maximum size of the SVG */
    aspect-ratio: 1 / 1; /* Keep the aspect ratio of the SVG */
}

.cover { fill: lightblue; transform-origin: 110px 50px; }
.spine { fill: navy; }
.text { fill: rgb(29, 5, 5); font-size: 12px; opacity: 0; /* Ensure text is initially invisible */}
.animateCover { animation: openBook 2s forwards; }
.animateText { animation: fadeInText 2s forwards; animation-delay: 2s; }

@keyframes openBook {
    from { transform: rotate(0); }
    to { transform: rotate(-120deg); }
}

@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}
