/* Add this to your existing style.css file */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.bg-image {
    /* The properties here are already set inline in your HTML, 
       so you can actually remove them from here to avoid redundancy */
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.logo-container {
    position: relative; /* Establishes a positioning context for absolute positioned elements inside */
}

.logo {
    max-width: 300px;
    transition: transform 0.5s ease;
    /* rest of your styles */
}

.logo:hover {
    transform: rotate(90deg);
}

.logo-text {
    position: absolute;
    top: 50%; /* Center the text vertically */
    left: 50%; /* Center the text horizontally */
    transform: translate(-80%, -80%); /* Adjust the position to truly center it */
    /* Add additional styling for your text here */
    color: black;
    font-size:30px;
}
