* {
  -webkit-tap-highlight-color: transparent;


}



body {
  overflow-x: hidden;
}



/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



/* Set the font family for headings */
header,
footer {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  /* bold */


}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

/* Header Styles */
header {
  background-color: #000000;
  background: linear-gradient(to right, #000000, #ff4d4d, #ffaf42);
  color: #ffffff;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}


/* Footer Styles */
footer {
  background-color: #000000;
  height: 10vh;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  background: linear-gradient(to right, #000000, #ff4d4d, #ffaf42);
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  /* changed from positive to negative vertical offset */
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  margin: 0;
  font-size: small;

}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  min-height: 80vh;
  box-sizing: border-box;
  /* include padding in height calculation */
  background: white;

}


main p {
  text-align: left;
  font-size: 1.4rem;
  color: rgb(5, 5, 5);
  font-family: 'Playfair Display', serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}

@media only screen and (max-width: 768px) {
  main p {
    font-size: 1.2rem;
  }
}


main p span {
  display: inline-block;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin-right: 0.5rem;
  /* add some margin between the words */

}


.orange-text {
  color: orange;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-100%);

  }

  to {
    opacity: 1;
    transform: translateY(0%);

  }
}





#main-paragraph1 {
  color: rgb(0, 0, 0);
  text-align: left;
}

#main-paragraph2 {
  color: rgb(0, 0, 0);
  text-align: left;
}



.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em;
}




.button {
  display: block;
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #494646;
  margin: 0 50px;
  /* add some margin between the buttons */

}



.button:hover {
  background-color: #333533;
}

.button:active {
  background-color: #282b29;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#hoops {
  margin: 0;
  /* move the button up */
  background-color: orange;
  /* add this line */
  box-shadow: 0 9px #e99856ee;
}

#hoops:hover,
#hoops:active {
  background-color: #ff8c00;
  box-shadow: 0 10px 20px rgba(248, 91, 0, 0.5);
}


#game {
  margin:0 ;
  /* move the button up */
  background-color: rgb(228, 33, 33);
  /* add this line */
  box-shadow: 0 9px #f85e5e;
}

#game:hover,
#game:active {
  background-color: #ff2400;
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
}



#game1 {
  margin:0;
  background-color: rgb(33, 62, 228);
  box-shadow: 0 9px #5e68f8;
}

#game1.hover,
#game1:active {
  background-color: #001aff;
  box-shadow: 0 10px 20px rgba(53, 10, 211, 0.966);
}





.no-wrap {
  white-space: nowrap;
}

.responsive-heading {
  font-size: 2vw;
}


@media only screen and (max-width: 768px) {
  .button-container {
    flex-direction: column;
  }
}
